app/__pycache__/core.cpython-310.pyc
app/__pycache__/functs.cpython-310.pyc
app/__pycache__/main.cpython-310.pyc
data
get_data/__pycache__ 
get_data/__pycache__ 
get_data/__pycache__ 
get_data/data
get_data/code_pdf
get_data/funct/__pycache__
get_data\funct\error_log_wiki.txt